.app {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: mistyrose;
}
.app__body {
  display: flex;
  background-color: #ebebeb;
  margin-top: -50px;
  height: 100vh;
  width: 90vw;
  margin-top: 10px;
}
